@import 'variaveis.scss';

//criação de objetos
@mixin gridCenter(){
    display: grid;
    padding: 20px;
}

header{
    @include gridCenter();
    background-color: $primeira;
    border: 1px solid $segunda;
}