@import 'variaveis.scss';

//criação de objetos
@mixin gridCenter(){
    display: grid;
    justify-self: center;
    padding: 20px;
}

#cabecalho{
    @include gridCenter();
    background-color: $primeira;
    border: 1px solid $segunda;
    height: 10vh;
}