*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    @import './variaveis.scss';
    @import './header.scss';

    main{
        @extend header;
    }


    footer{
        @extend header;
    }

    & a:hover{
        font-size: 20px;
        color: $segunda;
    }
}


