@import './variaveis.scss';

*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin gridCenter(){
    display: grid;
    grid-template-columns: 40vw 20vw;
    border: 1px solid var(--segunda);
    gap: 35vw;
    padding: 10px;
}

body{
    background-color: var(--primeira);
    color: var(--cor-font);

    @import './header.scss';

    main{
        margin: 10px;
       display: grid;
       grid-template: auto auto auto / auto;
       gap: 50px;

       & .horas{
            justify-self: center;
            align-items: center;

            & h3{
                text-align: center;
            }
       }

        & #informacao{
            display: grid;
            gap: 20px;

            &img{
                width: 70px;
                height: 100px;
            }

            & #listas{
                display: grid;
                height: 230px;
                overflow: auto;
                padding: 10px;
                gap: 50px;
                
                :is(ul,ol,dl){
                    display: grid;
                    gap: 10px;
                }
            }

            
        }

    }


    footer{
        @include gridCenter();

    }

    & a{
        color: rgb(0, 110, 255);
        font-style: inherit;
        cursor: pointer;

        &:hover{
            font-size: 20px;
            transition: 0.3s;
            color: var(--segunda);
        }
    }
}


