@import './variaveis.scss';

*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primeira);

    @import './header.scss';


    footer{
        @include gridCenter();
    }

    & a{
        color: rgb(0, 60, 255);
        font-style: inherit;
        cursor: pointer;

        &:hover{
            font-size: 20px;
            transition: 0.3s;
            color: var(--segunda);
        }
    }
}


